
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: rgb(240, 246, 250);
}
.btn{
    background-color: #4E47FF;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    border-radius: 15px;
    border: none;
}
.header{
    background-image: url(../img/Hero-bg.png);
    background-position: bottom;
}
.banner{
    width: 1040px;
    height: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 230px; 
    margin: 0 auto;  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 200px;

}
.nav-logo{
   font-weight: bolder;
   font-size: 40px;
   color: #4E47FF;;
}
.banner-title{
    font-size: 40px;
    text-align: center;

}
.action{
    font-size: 50px;
}
.action-description{
    font-size: 35px;
    font-weight: 300;
    color: rgb(161, 159, 159);
}
.action-img{
    width: 503px;
    height: 428;
    border-radius: 50px;
}
.action-section{
     display: flex;
     justify-content: space-around;
     padding: 130px;
}
.content{
   max-width: 400;
   margin-right: 200px;
}
.user-section{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.secondary-bg{
    background-color: #d1d7fd8f;
}
main section{
    margin-top: 130px;
}
.user-section{
    border-radius: 20px;
    width: 1355px;
    margin: 0 auto;
    padding: 20px 80px;
    text-align: center;
}
.user-items{
    display: flex;
    justify-content: space-around;
    
}
.item-title{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0px;
    padding: 0px;
}
.item-description{
    font-weight: 200;
    color: rgb(146, 135, 135);
    font-size: 30px;

}
.section-feedback-title{
    font-size: 42px;
    text-align: center;
    
}
.feedback-container{
    display: flex;
    gap: 20px;
}
.feedback{
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 1px 3px 3px#25243220;
    background-color: rgba(255, 255, 255, 0.495);
     margin: 0 auto;
     max-width: 1040px;
}
    
.avater{
    border-radius: 50px;
}
.name{
    color: #52505f;
    font-weight: 600;
}
.date{
    color: rgba(120, 117, 117, 0.563);
}